body {
  font-family: 'Poppins', sans-serif;
  background: #3674b5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.card-login {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  width: 1200px;
  max-width: 90%;
  height: 600px;
}

/* Kiri */
.card-left {
  flex: 1.5;
  position: relative;
  background: url("../img/bg.png") center center/cover no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}
.card-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(92, 175, 255, 0.4); /* transparansi warna oranye */
}

.card-left h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card-left p {
  font-size: 1rem;
  max-width: 350px;
  line-height: 1.6;
}

/* Kanan */
.card-right {
  flex: 1;
  background-color: #ffffff;
  padding: 60px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-right h2 {
  font-size: 1.8rem;
  font-weight: 900;
  color: #3674B5;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  margin-bottom: -5px;
}

.card-right p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.6;
  max-width: 90%;
}

.card-right form {
  display: flex;
  flex-direction: column;
}

.card-right label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
  font-weight: 500;
}

.card-right input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px 16px;
  margin-bottom: 18px;
  font-size: 14px;
  transition: border 0.3s ease;
}

.card-right input:focus {
  border: 1px solid #5E9DD8;
  outline: none;
  box-shadow: 0 0 0 2px rgba(94,157,216,0.2);
}

.card-right button {
  background-color: #3674B5;
  color: white;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card-right button:hover {
  background-color: #2f639c;
}

/* Responsif */
@media (max-width: 900px) {
  .card-login {
    flex-direction: column;
    height: auto;
  }

  .card-left, .card-right {
    flex: none;
    width: 100%;
    height: auto;
  }

  .card-left {
    padding: 40px 20px;
  }

  .card-right {
    padding: 40px 30px;
  }
}
